<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kreadcn.homework.dao.LabMapper">
    <resultMap id="BaseResultMap" type="kreadcn.homework.model.Lab">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
        <result column="capacity" jdbcType="INTEGER" property="capacity"/>
        <result column="area" jdbcType="INTEGER" property="area"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="created_by" jdbcType="INTEGER" property="createdBy"/>
        <result column="updated_by" jdbcType="INTEGER" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, name, address, description, capacity, area, created_at, updated_at, created_by,
        updated_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lab
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from lab
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="kreadcn.homework.model.Lab">
        insert into lab (id, name, address,
        description, capacity, area,
        created_at, updated_at, created_by,
        updated_by)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR},
        #{description,jdbcType=VARCHAR}, #{capacity,jdbcType=INTEGER}, #{area,jdbcType=INTEGER},
        #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=INTEGER},
        #{updatedBy,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="kreadcn.homework.model.Lab">
        insert into lab
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="address != null">
                address,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="capacity != null">
                capacity,
            </if>
            <if test="area != null">
                area,
            </if>
            <if test="createdAt != null">
                created_at,
            </if>
            <if test="updatedAt != null">
                updated_at,
            </if>
            <if test="createdBy != null">
                created_by,
            </if>
            <if test="updatedBy != null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                #{address,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="capacity != null">
                #{capacity,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                #{area,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="updatedBy != null">
                #{updatedBy,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="kreadcn.homework.model.Lab">
        update lab
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="address != null">
                address = #{address,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="capacity != null">
                capacity = #{capacity,jdbcType=INTEGER},
            </if>
            <if test="area != null">
                area = #{area,jdbcType=INTEGER},
            </if>
            <if test="createdAt != null">
                created_at = #{createdAt,jdbcType=TIMESTAMP},
            </if>
            <if test="updatedAt != null">
                updated_at = #{updatedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="createdBy != null">
                created_by = #{createdBy,jdbcType=INTEGER},
            </if>
            <if test="updatedBy != null">
                updated_by = #{updatedBy,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="kreadcn.homework.model.Lab">
        update lab
        set name = #{name,jdbcType=VARCHAR},
        address = #{address,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR},
        capacity = #{capacity,jdbcType=INTEGER},
        area = #{area,jdbcType=INTEGER},
        created_at = #{createdAt,jdbcType=TIMESTAMP},
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
        created_by = #{createdBy,jdbcType=INTEGER},
        updated_by = #{updatedBy,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!-- @Description:后增内容  @Author:He.Y  @Date:2023-10-20 -->
    <!-- 获取名字个数(分页) -->
    <select id="count" resultType="integer">
        select count(*)
        from lab
        <where>
            <if test="name != null">
                name like #{name}
            </if>

        </where>
    </select>

    <!-- 获取实验室(分页) 模糊查询(根据实验室名称、实验室地址查询) -->
    <select id="list" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from lab
        <where>
            <if test="queryDTO.name != null">name like #{queryDTO.name}</if>
            <if test="queryDTO.address != null">and address like #{queryDTO.address}</if>
        </where>
        limit #{offset}, #{limit}
    </select>

    <!-- 批量删除 -->
    <update id="deleteByIds">
        delete from lab
        where id in
        <foreach close=")" collection="labIds" index="index" item="item" open="(" separator=",">
            #{item}
        </foreach>
    </update>

    <!-- 获取所有的实验室 -->
    <select id="getAllLabs" resultType="kreadcn.homework.model.Lab">
        select *
        from lab
    </select>

</mapper>